html, body{
    height: 100%;
}

@font-face{
    font-family: digital-7;
    src: url('digital-7.ttf');
}

#bg{
    width: 100%;
    height: 100%;
    background: rgb(68,68,68);
    background: linear-gradient(180deg, rgba(68,68,68,1) 0%, rgba(255,218,249,1) 100%);
    padding-top: 100px;
}

.container{
    width: 25%;
}

#calculator{
    background-color: gray;
    width: 100%;
    height: 500px;
    margin: 0 auto;
    border-radius: 6px;
    border-top: 2px solid rgb(161, 161, 161);
    border-right: 2px solid rgb(161, 161, 161);
    border-left: 2px solid rgb(78, 77, 77);
    border-bottom: 2px solid rgb(78, 77, 77);
    padding: 20px;
    -webkit-box-shadow: -1px 10px 16px -9px #000000; 
box-shadow: -1px 10px 16px -9px #000000;
}

#display{
    background-color:#E0F8E0;
    height: 60px;
    border-radius: 5px;
    box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 1);
    border-top: 2px solid rgb(78, 77, 77);
    border-right: 2px solid rgb(78, 77, 77);
    border-left: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    text-align: right;
    font-size: 40px;
    padding-right: 20px;
    font-family: digital-7;
}

/* .row{
    margin-top: 20px;
} */

.button{
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
    text-align: center;
    height: 50px;
    padding-top: 7px;
    font-size: 20px;
    border-radius: 5px;
    border-left: 2px solid rgb(78, 77, 77);
    border-bottom: 2px solid rgb(78, 77, 77);
    font-weight: bold;
    cursor: pointer;
    -webkit-box-shadow: -1px 10px 16px -9px #000000; 
box-shadow: -1px 10px 16px -9px #000000;
   /*  border-top: 2px solid lightgray;
    border-right: 2px solid lightgray; */
}

.button:active{
    background-color: #424242;
    color: gray;
}

.row{
    margin-top: 20px;
}

.num{
    background-color: white;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
}

.operator{
    background-color: #084B8A;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
    color: rgb(185, 185, 185);
}

.ac{
    background-color: #B40404;
    box-shadow: inset 0px 0px 5px 0px rgb(80, 1, 1);
    border-left: 2px solid rgb(65, 1, 1);
    border-bottom: 2px solid rgb(65, 1, 1);
    color:rgb(221, 221, 221);
}

.del{
    background-color: #086A87;
    box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 1);
    color: rgb(221, 221, 221);
}

.equal{
    background-color: #08088A;
    color:rgb(161, 161, 161);
    border-top: 2px solid lightgray;
    border-right: 2px solid lightgray;
}